body{padding-bottom: 200px}
table {border: 1px solid grey;}  th {border: 1px solid grey;}  td {border: 1px solid grey;}
form {border-top: 1px solid gray; border-bottom: 1px solid gray; width: 600px; padding: 15px 0}  h1{font-size: 30px}
.section_step{margin-left: 150px; margin-top: 150px}
.flex_level{display: flex; justify-content: space-between}
.card_container{width: 800px}
.card_up{width: 200px; height: 200px; display: flex; justify-content: center; align-items: center; position: relative; z-index: 2}
.card_down{display: table-cell; vertical-align: middle; height: 50px; width: 200px; box-shadow: 0 0 6px rgba(0,0,0,0.5);}
.mg_l_10{margin-left: 10px}
.num_size{font-size: 110px}
.font{font-family: Arial}

